<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
   
        <label>fullname</label>
        <input formControlName="fullname" required class=" h-10 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6">
        <span *ngIf="registrationForm.controls['fullname'].hasError('required')">fullname is required</span>
     <br>
    
   
      <label>Username</label>
      <input class=" h-10 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6" formControlName="username" required>
      <span *ngIf="registrationForm.controls['username'].hasError('required')">Username is required</span>
      <br>
  
   
      <label>Email</label>
      <input class=" h-10 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6" formControlName="email" required>
      <span *ngIf="registrationForm.controls['email'].hasError('required')">Email is required</span>
      <span *ngIf="registrationForm.controls['email'].hasError('email')">Invalid email address</span>
   
      <br>
   
      <label>Password</label>
      <input class=" h-10 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6" type="password" formControlName="password" required>
      <span *ngIf="registrationForm.controls['password'].hasError('required')">Password is required</span>
      <span *ngIf="registrationForm.controls['password'].hasError('minlength')">Password must be at least 6 characters long</span>
   
      <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid" (click)="checkEmail()">Register</button>
    
  </form>