
input:focus-visible{
    outline-offset: NONE !important;
}
input:focus{
    border: 0px;
}
.login-background {
    width: 100%;
    height: 70vh;
    /* background-color: #E99F40;*/
     
}

.mat-mdc-icon-button{
    height: auto !important;
    padding: 0 !important;
}

.red {
    border:2px solid red;
}