<app-background></app-background>
<div class=" login-screen ">
  <app-header></app-header>
  <div class="flex min-h-full mt-8 mb-8 flex-1 flex-col justify-center  sm:px-6  mx-4">
    <div class="sm:mx-auto sm:w-full sm:max-w-[558px] ">
      <div class=" bg-white px-16 py-8 rounded-cards  sm:py-8 sm:px-16 bg-whites shadow-lg ">
        <div class="mb-4">
          <mat-icon svgIcon="eazio-logo-black" class="eazio--logo"></mat-icon>
        </div>
        <div class="py-6">
          <div class=" sm:mx-auto sm:w-full ">
            <span class=" text-2xl font-bold leading-9  text-gray-900">Create An Account</span>
          </div>
          
            <!--form start-->
            <form class="" action="#" method="POST" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div class="py-6 space-y-4"> 
                <!--full name field start-->
                <div >
                  <label for="Full name" class="block text-sm font-normal leading-6 text-gray-700">Full name</label>
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <mat-icon svgIcon="user" class="mat-icon-size"></mat-icon>
                    </div>
                    <input name="fullname" id="fullname"
                      class="px-3.5 py-2.5 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-base focus:outline-none focus:ring-2 focus:ring-primary focus:shadow-inputshadow sm:text-sm sm:leading-6"
                      placeholder="Enter Your Full Name Ex. John Doe" formControlName="fullname"  type="text"
                      [(ngModel)]="fullname" (focus)="fullnameValidation()" (blur)="validatefullname()"
                      [ngClass]="{ 'valid': isfullnameValid, 'invalid': !isfullnameValid , 'default':!fullname}" ngModel
                      maxlength="25" />
                  </div>
                  <span *ngIf="!isfullnameValid" class="text-red-500  flex ">
                    <mat-icon svgIcon="alert-circle" class=""></mat-icon>
                    <span *ngIf="!fullname" class="py-1 px-1 font-xs">Please Enter Full name.</span>
                    <span *ngIf="!fullname && !isfullnameValid && !containsAlphabet()" class="text-red-500 py-1 px-1 font-xs">
                      Only use Alphabet
                    </span>
                    <span *ngIf="fullname && fullname.length < 4" class="text-red-500 py-1 px-1 font-xs">
                      Full name should be 4 character
                    </span>
                  </span>
                
                </div>
                <!--full name field end-->
                <!--user name field start-->
                <div >
                  <label for="User-name" class="block text-sm font-normal leading-6 text-gray-700"> Username</label>
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <mat-icon svgIcon="at-sign" class="mat-icon-size"></mat-icon>
                    </div>
                    <input type="text" name="Username" id="Username" ngtrim="true"
                      class="px-3.5 py-2.5 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  placeholder:text-base focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6"
                      placeholder="Enter Username Ex. John_588" formControlName="username" type="text" [(ngModel)]="usernam"
                      (focus)="usernamValidation()" (blur)="validateusernam()" 
                      [ngClass]="{ 'valid': isusernamValid, 'invalid': !isusernamValid , 'default' : !usernam , 'red' : userAvailabilityHint}" 
                      maxlength="25" minlength="2" />
                      
                  </div>
                  <div *ngIf="isusernamValid" class="text-red-500 ">
                    <span   class="text-red-500" >{{ userAvailabilityHint }}</span>
                  </div>
                  <div *ngIf="!isusernamValid" class="text-red-500 flex ">
                    <mat-icon svgIcon="alert-circle" class=""></mat-icon>
                    <span *ngIf="!usernam" class="py-1 px-1 font-xs">Please Enter Username </span>
                    <span *ngIf="usernam && !isusernamValid" class="py-1 px-1 font-xs">Username must have valid conditions</span>
                  </div>
                  <div class="flex ">
                    <div>
                      <span *ngIf="!isusernamValid && usernam.length < 8" class="text-red-500">
                        <li>Minimum of 8 Characters</li>
                      </span>
                      <span *ngIf="!isusernamValid && !containsSymbols()" class="text-red-500">
                        <li>Contains 1 Special Character</li>
                      </span>
                      <span *ngIf="!isusernamValid && !containsNumber()" class="text-red-500">
                        <li>Must have 1 Digit</li>
                      </span>
                    </div>
                    <div class="ml-5">
                      <span *ngIf="!isusernamValid && !containsUpper()" class="text-red-500">
                        <li> One uppercase character</li>
                      </span>
                      <span *ngIf="!isusernamValid && !containsLower()" class="text-red-500">
                        <li>One lowercase character</li>
                      </span>
                      <span *ngIf="!isusernamValid && !containsspace()" class="text-red-500">
                        <li>Space not Allowed</li>
                      </span>
                    </div>
                  </div>
                </div>
                <!--user name field end-->
                <!--email field start-->
                <div >
                  <label for="email" class="block text-sm font-normal leading-6 text-gray-700">Email</label>
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <mat-icon svgIcon="envelope" class="mat-icon-size text-gray-400"></mat-icon>
                    </div>
                    <input type="email" name="email" id="email"
                      class="px-3.5 py-2.5 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-base focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6"
                      placeholder="Email Address" formControlName="email" id="email" type="email" [(ngModel)]="email"
                      (focus)="resetValidation()" (blur)="validateEmail()"  (blur)="alreadyExistEmail()"
                      [ngClass]="{ 'valid': isEmailValid, 'invalid': !isEmailValid, 'default' : !email, 'red' : emailAvailabilityHint}" />
                      
                  </div>
                  <div *ngIf="!isEmailValid" class="text-red-500 flex" >
                        <mat-icon svgIcon="alert-circle" class=""></mat-icon>
                        <span *ngIf="!email" class="py-1 px-1 font-xs">Please Enter Email Address.</span>
                        <span *ngIf="email && !isEmailFormatValid" class="py-1 px-1 font-xs">Invalid Email Address.</span>
                      </div>
                      <div *ngIf="isEmailValid" class="text-red-500 mt-2">
                      <span *ngIf="emailAvailabilityHint"  class="text-red-500 py-1 px-1 font-xs">{{ emailAvailabilityHint }}</span>
                    </div>
                  
                  
                </div>
                <!--email field end-->
                <!--Password field start-->
                <div >
                  <div class="flex relative mb-8">
                    <div class="absolute left-0">
                      <label for="password" class="block text-sm font-normal leading-6 text-gray-700">New Password</label>
                    </div>
                    <div class="flex absolute right-0 pass-icon">
                      <mat-icon [svgIcon]="passwordVisible ? 'eye' : 'eye-slash' " class="mat-icon-size text-gray-500"  (click)="togglePasswordVisibility()">
                      </mat-icon>
                      <span class="text-gray-900 font-xs ml-1" mat-icon-button matSuffix (click)="togglePasswordVisibility()"
                        aria-label="Toggle password visibility">
                        <span class="text-xs">{{ passwordVisible ? 'Hidden' : 'Show' }}</span>
                    </span>
                    </div>
                  </div>
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <mat-icon svgIcon="lock-close" class="mat-icon-size"></mat-icon>
                    </div>
                    <input type="password" name="password" id="password"
                      class="px-3.5 py-2.5 block w-full rounded-md border-0 py-1.5  pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6 placeholder:text-base "
                      placeholder="New password" formControlName="password" [(ngModel)]="password"
                      [type]="passwordVisible ? 'text' : 'password'" (input)="validatePassword()" (focus)="onFocus()"
                      (input)="onBlur()" [class.valid]="isPasswordValid" [class.invalid]="!isPasswordValid"
                      [class.default]="!password">
                  </div>
                  <div *ngIf="!isPasswordValid" class="text-red-500  flex">
                    <mat-icon svgIcon="alert-circle" class=""></mat-icon>
                    <span *ngIf=" !isPasswordValid" class="py-1 px-1 font-xs">Must match with below conditions</span>
                  </div>
                  <div class="flex ">
                    <div>
                      <span *ngIf="!isPasswordValid && password.length < 8" class="text-red-500">
                        <li>Minimum 8 characters</li>
                      </span>
                      <span *ngIf="!isPasswordValid && !containsSymbol()" class="text-red-500">
                        <li>One special character</li>
                      </span>
                      <span *ngIf="!isPasswordValid && !containsNumbers()" class="text-red-500">
                        <li>One number</li>
                      </span>
                    </div>
                    <div class="ml-5">
                      <span *ngIf="!isPasswordValid && !containsUppercase()" class="text-red-500">
                        <li> One uppercase character</li>
                      </span>
                      <span *ngIf="!isPasswordValid && !containsLowercase()" class="text-red-500">
                        <li>One lowercase character</li>
                      </span>
                    </div>
                  </div>
                </div>
                <!--Password field end-->
                <!--confirm-Password field start-->
                <div>
                  <div class="flex relative mb-8">
                    <div class="absolute left-0">
                      <label for="confirm-Password" class="block text-sm font-normal leading-6 text-gray-700">Confirm
                        Password</label>
                    </div>
                    <div class="flex absolute right-0  pass-icon">
                      <mat-icon [svgIcon]="confirmPasswordVisible ? 'eye' : 'eye-slash' " class="mat-icon-size text-gray-500" matSuffix (click)="toggleConfirmPasswordVisibility()">
                      
                      </mat-icon>
                      <span class=" text-gray-900 ml-1" mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()"
                        aria-label="Toggle password visibility">
                        <span class="text-xs">{{ confirmPasswordVisible ? 'Hidden' : 'Show' }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="relative mt-2 rounded-md shadow-sm">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <mat-icon svgIcon="lock-close" class="mat-icon-size"></mat-icon>
                    </div>
                    <input type="confirm-Password" name="confirm-Password" id="confirm-Password"
                      class="px-3.5 py-2.5 block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6 placeholder:text-base "
                      placeholder="Confirm password " formControlName="confirmPassword" [(ngModel)]="confirmPassword"
                      [type]="confirmPasswordVisible ? 'text' : 'password'" (input)="validatePassword()" (focus)="onFocus()"
                      (input)="onBlur()" [class.valid]="isPasswordConfirmed" [class.invalid]="!isPasswordConfirmed"
                      [class.default]="!confirmPassword">
                  </div>
                  <div *ngIf="isPasswordConfirmed" class="text-green-500 ">
                    <span *ngIf="confirmPassword && isPasswordConfirmed">Password match</span>
                  </div>
                  <div class=" flex" *ngIf="!isPasswordConfirmed">
                    <mat-icon svgIcon="alert-circle" class=""></mat-icon>
                    <span  class="text-red-500 py-1 px-1 font-xs">Passwords do not match</span>
                  </div>
                </div>
              </div>  
              <!--button start-->
              <div>
                <button type="submit"
                  class="disabled flex w-full justify-center rounded-md bg-indigo-600 px-5 py-3 text-base font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline disabled focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-indigo-300"
                [disabled]="buttonDisabled || registrationForm.invalid || userfielddisabled || confirmpassdisabled ">Start Onboarding
                  <mat-icon svgIcon="reload-spinner" *ngIf="loading" class="ml-2 "></mat-icon>
                </button>
                
              </div>
              <!--button end-->
              <div class="rounded-md bg-green-50 p-4" *ngIf="registrationSuccess">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <div class="ml-3">
                    <span class="text-sm font-medium text-green-800">Signup successfully,  Please verify your account by email. </span>
                  </div>
                </div>
              </div>
              <div class="rounded-md bg-red-50 p-4" *ngIf="registrationError">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <div class="ml-3">
                    <span class="text-sm font-medium text-red-800">Signup failed, Please try later.</span>
                  </div>
                </div>
              </div>
            </form>
            <!--form end-->
          </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

